<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fluer Livre | Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flower.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/Icon-removebg-preview.png') }}" width="220px">
                </div>

            </div>
            <div class="row">
                <div class="col2">
                    <img src="{{ url_for('static', filename='img/rose.jpeg') }}">
                </div>
                <div class="col2">
                    <br><br>
                    <h2>We think it might be</h2>
                    <h1 style="color: #e41212; text-shadow: 1px 1px 3px #000000;">Rose</h1>

                    <p style="color:gray; "> <span style="color: black;">Botanical name: </span>
                        Rosa Indica</p><br>
                    <p style="color: black;">Rose, (genus Rosa), genus of some 100 species of perennial shrubs in the rose family (Rosaceae). Roses are native primarily to the temperate regions of the Northern Hemisphere. Many roses are cultivated for their beautiful flowers, which range in colour from white through various tones of yellow and pink to dark crimson and maroon, and most have a delightful fragrance, which varies according to the variety and to climatic conditions.</p>
                </div>
                <hr id="Indicator">
            </div>

        </div>
        <br>

        <h3 style="text-align:center;font-size: 25px;
            font-weight: 100;">Which State Produces the most Roses in India?</h3>
        <img class="center2" style="width: 600px; padding-left: 60px;" src="{{ url_for('static', filename='img/Rose.png') }}">
        <br>


    </div>



    <!----Footer---->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3> Download Our App </h3>
                    <p>Download app for Android and iOS mobile phone.</p>
                    <div class="app-logo">
                        <a href="#"></a>
                        <img src="{{ url_for('static', filename='img/play-store.png') }}">
                        <img src="{{ url_for('static', filename='img/app-store.png') }}">
                    </div>
                </div>
                <div class="footer-col-2">

                    <img src="{{ url_for('static', filename='img/Icon-removebg-preview.png') }}">
                    <p>Fluer Livre helps you identify flower in a second.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog post</li>
                        <li>Return policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2022 - Fluer Livre</p>
        </div>
    </div>
</body>

</html>