<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fluer Livre | Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flower.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/Icon-removebg-preview.png') }}" width="220px">
                </div>

            </div>
            <div class="row">
                <div class="col2">
                    <img src="{{ url_for('static', filename='img/tulipp.jpeg') }}">
                </div>
                <div class="col2">
                    <br><br>
                    <h2>We think it might be</h2>
                    <h1 style="color: #de3896; text-shadow: 1px 1px 3px #000000;"><span style="color: de3896;">T</span>ulip</h1>

                    <p style="color:gray; "> <span style="color: black;">Botanical name: </span>
                        Tulipa</p><br>
                    <p style="color: black;">Tulip, (genus Tulipa), genus of about 100 species of bulbous herbs in the lily family (Liliaceae), native to Central Asia and Turkey. Tulips are among the most popular of all garden flowers, and numerous cultivars and varieties have been developed.</p>
                </div>
                <hr id="Indicator">
            </div>
        </div>
        <br>

        <h3 style="text-align:center;font-size: 25px;
            font-weight: 100;">Which State Produces the most Tulips in India?</h3>
        <img class="center2" style="width: 600px; padding-left: 60px;" src="{{ url_for('static', filename='img/Tulip.png') }}">
        <br>


    </div>



    <!----Footer---->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3> Download Our App </h3>
                    <p>Download app for Android and iOS mobile phone.</p>
                    <div class="app-logo">
                        <a href="#"></a>
                        <img src="{{ url_for('static', filename='img/play-store.png') }}">
                        <img src="{{ url_for('static', filename='img/app-store.png') }}">
                    </div>
                </div>
                <div class="footer-col-2">

                    <img src="{{ url_for('static', filename='img/Icon-removebg-preview.png') }}">
                    <p>Fluer Livre helps you identify flower in a second.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog post</li>
                        <li>Return policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2022 - Fluer Livre</p>
        </div>
    </div>
</body>

</html>